.main-header {
  max-height: 150px;
}
.main-header .logo {
  padding: 0;
}
.main-header .logo-lg {
  background: url(../images/logo.png) no-repeat 10% 50%;
  height: 50px;
}
.main-header .logo-lg::after {
  content:'坤之家';
  font-size:14px;
  font-family:"微软雅黑";
  font-weight:900;
  color:white;
  letter-spacing:2px;
}
.main-header .logo-mini {
  background: url(../images/logo-mini.png) no-repeat 50% 50%;
  height: 50px;
}
.breadcrumb{

}
